---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="info-line">
    <div class="date">
      {{ page.date | date_to_long_string }}
    </div>

    <div class="words">
      {% include read_time.html %}
    </div>
  </div>

  <div class="entry">
    {{ content }}
  </div>

  <!-- XXX: Use a privacy-friendly commenting service -->
  <!-- {% include disqus.html %} -->

  <div style="font-weight: lighter;margin-top: 30px;">
    Do you have any questions about this article or want to give feedback?
    <a href="mailto:benjamin.weigang@mailbox.org">Write me an email</a>.
  </div>
</article>
